{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <h1>問題出題</h1>
        <form id="form" action="/rand_q" method="POST">
            <input name="questionNum" id="questionNum" required>
            <button type="submit" id="submitBtn">送信</button>
        </form>
        <p>問題数を半角数字で入力してください</p>
    </div>

    <script>
        let max = {{ max }};
        let submitBtn = document.getElementById("submitBtn");
        let form = document.getElementById("form");
        let questionNum = document.getElementById("form");

        submitBtn.addEventListener("click", () => {
            if(questionNum > max){
                console.log("ERROR");
            }else{
                console.log("OK");
            }

        });

    </script>
{% endblock %}
