{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1>問題出題</h1>
    <h5>現在の辞書に登録されている単語数は{{ max }}個です<br>{{ max }}以下で指定してください</h5>
    <form id="form" action="/rand_q" method="POST">
        <input name="questionNum" id="questionNum" required>
        <button type="submit" id="submitBtn">送信</button>
    </form>
    <p>問題数を半角数字で入力してください</p>
    <p>※問題出題では音声が流れますのでご注意ください</p>

    <p id="overAlert" style="color:red; display:none;">正しい値を入力してください</p>
</div>

<script>
    let max = {{ max }};
    let submitBtn = document.getElementById("submitBtn");
    let form = document.getElementById("form");
    let questionNumInput = document.getElementById("questionNum");
    let overAlert = document.getElementById("overAlert");

    submitBtn.addEventListener("click", (event) => {
        let questionNum = parseInt(questionNumInput.value, 10);

        if (isNaN(questionNum) || questionNum > max || questionNum <= 0) {
            overAlert.style.display = 'block';
            event.preventDefault(); // フォームの送信を防止
        } else {
            console.log("OK");
        }
    });
</script>

{% endblock %}
